
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{

	font-family: 'Montserrat', sans-serif;
	background:url('../images/texture.jpg');
}
*{
	margin : 0px;
	padding: 0px;
	box-sizing: border-box;
}

#header{
	float: left;
	width: 100%;
	background-color: purple;
	padding:30px;
	margin:auto 0;
	border:2px solid black;


}

#header #logo{
	display: inline-block;
	width:100px;
	height: 20px;
}

#header #logo p{
	
	width:100%;
	text-shadow: 5px 5px 3px black;
	color: white;
	font-size: 26px;	

}


#header #sigup{
	float: right;
	margin:0px 10px;
	border:1px solid black;
	border-radius: 5px;
	padding: 5px 20px;
	background-color:#badee6; 


}

#header #sigup:hover{

	box-shadow: 0px 0px 10px black;
}

#header #sigup a{
	text-decoration: none;
	color:black;
}

.container{
	width: 1000px;
	margin: 0 auto;
}

#main{
	width: 100%;
	float: left;
	margin:auto 0;
}


#signin{

	transform: translate(220px , 100px);
	position: relative;
	width:50%;
	border :1px solid purple;
	border-radius: 8px;
	padding: 60px 40px;
	/*background-color: rgba(240,240,240,0.4);*/
	background-color:#f0f4f5;
	
}

#signin:hover{

	box-shadow: 0px 0px 30px grey;
}

#signin h2{
	position:absolute;
	top: -40px;
	left: 190px;
	color:purple;
	

}


#signin label{
	color:purple;
	font-weight: bold;

}

#signin input[type="text"] ,#signin input[type="password"]{
	margin:10px 0px;
	display: block;
	border : 1px solid purple;
	border-radius: 8px;
	padding: 5px 10px;
	width:100%;
	text-align: center;

}

#signin input[type = "submit"]{
	margin-top: 10px;
	margin-left: 35%;
	color: purple;
	font-weight: 800;
	border:1px solid purple;
	border-radius: 5px;
	padding: 8px 20px;
}

#signin input[type = "submit"]:hover{
	box-shadow: 2px 2px 3px black;
}

#signin h4{
	margin: 10px;
	text-align: center;
}

