@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{

	font-family: 'Montserrat', sans-serif;
}

*{
	margin : 0px;
	padding: 0px;
	box-sizing: border-box;
}

#header{
	float: left;
	width: 100%;
	background-color: purple;
	padding:30px;
	margin:auto 0;
	border:2px solid black;
}


#header #logo{
	display: inline-block;
	width:100px;
	height: 20px;
}

#header #logo p{
	
	width:100%;
	text-shadow: 5px 5px 3px black;
	color: white;
	font-size: 26px;	

}

#header #logout{
	float: right;
	border:1px solid black;
	border-radius: 5px;
	padding: 5px 20px;
	color:black; 
	background-color:#badee6; 
}

#header #logout:hover{

	box-shadow: 0px 0px 10px black;
}

#sigup:hover{

	box-shadow: 0px 0px 10px black;
}

#header #profilelogo{
	float:right;
}

#header #profilelogo img{
	border-radius: 25px;
}

#header #logout a{
	text-decoration: none;
	color: black;
}

#header .navbar{
	display: inline-block;
	float:right;
}

#header .navbar li{
	border:1px solid black;
	border-radius: 5px;
	padding:5px 20px;
	margin-right: 10px;
	margin-left: 10px;
	list-style: none;
	display: inline-block;
	background-color:#badee6; 
}

#header .navbar li:hover{
	box-shadow: 0px 0px 10px black;
}

#header .navbar a{
	text-decoration: none;
	color: black;
}
.container{
	width: 1000px;
	margin: 0 auto;
}

#main{
	float:left;
	width: 100%;

}

#profiledetails{
	width: 300px;
	height: inherit;
	border-right: 1px solid purple;
	padding: 20px 10px;
}

#profiledetails h5{
	margin: 10px 5px;
}

#profilelogo img{
	border:2px solid black;
	transform: translateY(-5px);
}

#main .allposts{

	border:1px solid purple;
	padding: 10px;
	width:60%;
	transform: translateX(300px);
	border-radius: 8px;
	margin-top: 20px;
}

#main .allposts h2{
	color:#9944a6;

}

#main .title h2{
	width:500px;
	display:inline-block;
	margin-left: 10px;
	transform: translateY(-10px);
}

#uploadedimg{
	display:block;
	margin-top: 10px;
	margin-bottom: 10px;
	border:1px solid black;
	width: 100%;
  height: 70%;
}

#profileimg{
	border:1px solid black;

}
.postbrief{
	margin-top: 8px;
}

#viewpost{
	
	text-decoration: none;

}

#postcontent{
	margin-bottom: 30px;
	word-wrap: normal;
	width:98%;
	margin-top: 20px;
	padding:10px;
	border:1px solid purple;
	border-radius: 25px;
}
#postcontent h2{
	display:inline-block;
	width:600px;
	margin-left: 10px;
	transform: translateY(-8px);
}

#postcontent h3{
	font-size:30px;
	margin:10px 0px;
	color: #6438c2;
}

#postcontent h4{
	padding:0px 10px;
	margin:10px 0px;
}
